
/* OVERALL STRUCTURE */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullBody {
    display: flex;
    flex-direction: column;
    flex: 1;
}



/* HEADER */
.header {
    display: flex;
    padding: 16px;
}

.headerLogo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.headerLinks {
    flex: 2;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 16px;
}


/* BODY1 */
.body1 {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftBody1 {
    flex: 1;
    min-height: 75%;
    margin-left: 10%;
}

.rightBody1 {
    flex: 1;
    min-height: 75%;
    margin-right: 10%;
}



/* BODY2 */
.body2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.upperBody2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lowerBody2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
}

.lowerBody2box {
    width: 150px;
}

.blueBox {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 5px;
}


/* BODY3 */
.body3 {
    flex: 1 1 0px;
}



/* BODY4 */
.body4 {
    flex: 1 1 0px; 
}